.ui-chip {
    display: inline-block;
    padding: 2px 8px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 8px;

    &--soft {
        background-color: $bg-accent-soft;
    }

    &--accent {
        background: $bg-accent-soft;
        color: $text-accent-soft;
    }
}