.main {
    flex: 1;
    padding: 40px;
}

.main__content {
    display: grid;
    grid-template-columns: 200px 2px 1fr 2px 120px;
    gap: 20px;
    min-height: 100%;
}

.main__divider {
    width: 2px;
    height: 100%;
    background-color: #2c3e50;
}
