@use '../../assets/styles/vars.scss' as *;

.main {
  flex: 1;

  &__content {
    width: min(100% - 3rem, $container);
    margin: 2rem auto 3rem;
    animation: rise-up 0.5s ease both;
  }
}

@media (max-width: $tablet) {
  .main {
    &__content {
      width: min(100% - 1.5rem, $container);
      margin: 1.25rem auto 2rem;
    }
  }
}
